{% extends 'cockteil/base.html' %}
 
{% block content %}
<div class="container" style="margin-top:0px;">
	<h1 class="">{{title}}</h1>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<img class="img-thumbnail" width="100%" src="{{content.image}}" alt="No image">
			</div>
			<div class="col-md-8 col-sm-12">
				<table class="table bg-light">
					<tbody>
						<tr>
							<td><b>Name</b></td>
							<td>{{ content.name }}</td>
						</tr>
						<tr>
							<td><b>Category</b></td>
							<td>{{ content.type }}</td>
						</tr>
						<tr>
							<td><b>Alcoholic</b></td>
							<td>{{ content.alcohol }}</td>
						</tr>
						<tr>
							<td><b>Glass</b></td>
							<td>{{content.glass}}</td>
						</tr>
						<tr>
							<td><b>Instructions</b></td>
							<td>{{content.instructions}}</td>
						</tr>
						<tr>
							<td><b>Ingredients</b></td>
							<td>
								<table class="table">
									{% for key, val in content.ingradient.items %}
										<tr>
											<td>{{key}}</td>
											<td>{{val}}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

</div>
{% endblock %}