{% extends 'cockteil/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
<h1> "Это страница с любимыми"</h1><br>
<div class="container">
	{% for p in d_list.ks %}
		<div class="row">
			<div class="col-4">
				<img class="img-thumbnail mt-3" width="100%" src="{{p.image}}" alt="No image">
			</div>
			<div class="col-8">
				<table class="table">
					<tbody>
						<tr>
							<td>Name</td>
							<td>{{ p.name }}</td>
						</tr>
						<tr>
							<td>Category</td>
							<td>{{ p.strCategory }}</td>
						</tr>
						<tr>
							<td>Alcoholic</td>
							<td>{{ p.alcoholic }}</td>
						</tr>
						<tr>
							<td>Glass</td>
							<td>{{p.glass}}</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>{{p.instructions}}</td>
						</tr>
						<tr>
							<td>Ingredients</td>
							<td>
								<table class="table">
									{% for key, val in p.ingradient.items %}
										<tr>
											<td>{{key}}</td>
											<td>{{val}}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
